.content{
    width:1226px;
    margin:0 auto;
}
.jlt{
    background:url(../images/index/jlt.png) no-repeat;
}

/* 小米8 */
/* .buy{
    display:none;
} */
.buy p{
    text-align:center;
    line-height:48px;
}
.buy p span{
    font-size:12px;
    color:#333;
}
.buy p a{
    font-size:14px;
    color:#ff6700;
    margin-left:30px;
    margin-right:16px;
}
.buy p button{
    font-size:14px;
    color:#b5b5b5;
    background:none;
    border:none;
    cursor:pointer;
}
main{
    width:100%;
    background:#fff;
}
/* 图片 */
.xm8{
    background:#fff;
    height:100%;
}
.xm8_left_box{
    float:left;
}
.xm8_left{
   width:560px;
   height:560px;
   position: relative;
   border: 1px solid #000;
}
.xm8Index{
    width:560px;
    height:100px;
    border: 1px solid #000;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-top:none;
}
.xm8Index li{
    width:120px;
    height:80px;
    border: 1px solid #000;
}
.xm8Index .ffo{
    border:#ff4a00 solid 1px;
}
.xm8Index li:nth-child(1){
    background:url(../images/detailPage/pms_1538019355.46916163.jpg) no-repeat;
    background-size:100%;
}
.xm8Index li:nth-child(2){
    background:url(../images/detailPage/pms_1538019047.70813196.png) no-repeat;
    background-size:100%;
}
.xm8Index li:nth-child(3){
    background:url(../images/detailPage/pms_1538019047.66061297.png) no-repeat;
    background-size:100%;
}
.xm8Index li:nth-child(4){
    background:url(../images/detailPage/pms_1538019047.53882074.png) no-repeat;
    background-size:100%;
}
.xm8_left .samll{
    position: relative;
    height:560px;
}
.xm8_left .smallImg{
    width:560px;
    height:560px;
}
.xm8_left .bigImg{
    position: absolute;
    left: 0;
    top: 0;
}
.xm8_left .mask{
    width: 175px;
    height: 175px;
    background: paleturquoise;
    position: absolute;
    left:0;
    top: 0;
    opacity: 0.3;
    display: none;
    cursor: move;
}
.xm8_left .big{
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    top:80px;
    left : 560px;
    border: 1px solid #000;
    background:#fff;
    display: none;
}
/* 小米8介绍 */
.xm8_right{
    float:right;
}
.xm-title{
    width:610px;
    height:160px;
    border-bottom:1px solid #b0b0b0;
}
.xm-title h1{
    font-size:24px;
    color:#212121;
    margin-top:26px;
}
.xm-title p:nth-child(2){
    font-size:14px;
    color:#b0b0b0;
    line-height:20px;
}
.xm-title p:nth-child(2) span{
    font-size:12px;
    color:#ff4a00;
}
.xm-title p:nth-child(3){
    font-size:12px;
    color:#ff4a00;
    line-height:28px;
}
.xm-title p:nth-child(4) .units{
    font-size:14px;
    color:#ff4a00;
    line-height:28px;
}
.xm-title p:nth-child(4){
    font-size:14px;
    color:#ff4a00;
    line-height:28px;
}
.xm-title p:nth-child(4) del{
    color:#b0b0b0;
}
.xm-title p:nth-child(4) span{
    font-size:12px;
    color:#b0b0b0;
    line-height:28px;
}
.com{
    width:610px;
    height:82px;
    border-bottom:1px solid #b0b0b0;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.com p span{
    display:inline-block;
    width:80px;
    height:25px;
    background:#ff6700;
    text-align:center;
    line-height:25px;
    font-size:12px;
    color:#fff;
    margin-right:10px;
}
.com p{
    color:#333333;
    font-size:12px;
    margin:3px 0;
}
.site{
    width:556px;
    height:72px;
    border:1px solid #e0e0e0;
    background:#fafafa;
    margin-top:40px;
    padding-left:48px;
    padding-top:30px;
}
.site p{
    color:#333;
    font-size:14px;
}
.site p:nth-child(1) a{
    color:#ff6700;
    font-size:14px;
}
.site p:nth-child(2){
    color:#ff6700;
    font-size:14px;
}
/* 选择版本 */
/* 选择框 */
.ff6700{
    border:#ff6700 solid 1px!important;
    color:#ff6700;
}
.rgb75{
    color:#757575;
}
.h3{
    margin-top:30px;
    font-size:14px;
    color:#333;
}
.select{
    display:inline-block;
    width:298px;
    height:42px;
    border:#e0e0e0 solid 1px;
    margin:0 3px;
    text-align:center;
    line-height:42px;
    font-size:14px;
    margin-top:15px;
}
.select .price{
    margin-left:38px;
    font-size:14px;
    color:#b0b0b0;
}
.leng{
    width:604px;
    height:138px;
    border:1px solid #e0e0e0;
}
.total{
    width:604px;
    height:138px;
    background:#f9f9fa;
    margin:30px 0;
}
.addCart{
    width:300px;
    height:54px;
    background:#ff6700;
    outline:none;
    border:none;
    color:#fff;
    font-size:14px;
}
.like{
    width:142px;
    height:54px;
    background:#b0b0b0;
    outline:none;
    border:none;
    color:#fff;
    font-size:14px;
    margin-left:14px;
}
.add p span{
    margin:0 24px;
    font-size:12px;
}
/* 商品详情 */
.xm8sj{
    height:116px;
    background:#fff;
    line-height:116px;
    position:relative;
    float:left;
}
.che{
    margin-left:36px;
    width:20px;
    height:20px;
}
.xm8img-box{
    display:inline-block;
    width:80px;
    height:80px;
    position:absolute;
    top:15px;
    left:120px;
}
.xm8pm{
    margin-left:180px;
    font-size:16px;
}
.xm8img{
    width:80px;
    height:80px;
}
.jiajian{
    display:inline-block;
    position:relative;
    top:10px;
    margin-left:60px;
}
.j-box{
    float:left;
}
.count{
    width:74px;
    height:34px;
    border:1px solid #e0e0e0;
}
.jia{
    width:40px;
    height:36px;
    border:1px solid #e0e0e0;
    outline:none;
    background:#fff;
    border-left:none;
    font-size:24px;
}
.jian{
    width:40px;
    height:36px;
    border:1px solid #e0e0e0;
    outline:none;
    background:#fff;
    border-right:none;
    font-size:24px;
}
.jian:hover{
    background:#e0e0e0;
}
.jia:hover{
    background:#e0e0e0;
}
.unit{
    color:#333;
    font-size:14px;
    margin-left:130px;
}
.subtotal{
    color:#ff6700;
    font-size:16px;
    margin-left:40px;
}
.dele{
    width:20px;
    height:20px;
    outline:none;
    border:none;
    border-radius:50%;
    margin-left:116px;
}
.dele:hover{
    background:red;
    color:#fff;
}
.pri{
    margin-bottom:50px;
}
.pri-box{
    width:1226px;
    height:189px;
}